.DS_Store
.FBCIndex
.FBCLockFolder/
Album\ Artwork
Backups_for_mac_mini/iTunes\ 4\ Music\ Library
iTunes\ Library
iTunes\ Library\ Extras.itdb
iTunes\ Library\ Genius.itdb
iTunes\ Music/
Mobile\ Applications/
Previous\ iTunes\ Libraries/
sentinel
